// Variables

$button-color: #dd5a6a;
$cutom-padding: 50px 100px;

@mixin buttonColor() {
  background: rgb(46, 196, 184);
  background: radial-gradient(
    circle,
    rgba(46, 196, 184, 1) -35%,
    rgba(96, 120, 234, 1) 35%,
    rgba(46, 196, 184, 1) 100%
  );
  border-radius: 4px;
}

.banner-section {
  background-image: url("./assets/Banner_mage.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: $cutom-padding;
  position: relative;

  .banner-text {
    color: #ffffff;
    margin-top: 80px;
    text-align: left;
    .main-heading {
      font-family: Titillium;
      font-size: 31px;
      letter-spacing: 1.28px;
      line-height: 40px;
      width: 622px;
      font-weight: 500;
      margin-bottom: 0;
    }
    .sub-heading {
      font-family: StagSans;
      font-size: 25px;
      letter-spacing: 3.59px;
      line-height: 34px;
      width: 599px;
      opacity: 0.5;
    }
  }
  .appoinment-button {
    background-color: $button-color;
    border-radius: 3.2px;
    width: 186px;
    height: 45px;
    font-family: Arial;
    font-size: 14.4px;
    line-height: 17px;
    &:hover {
      background-color: #dd5a6ad1;
    }
  }

  //   Form Section
  .form-section {
    background-color: #ffffff;
    box-shadow: -4px 2px 13px 0 rgba(85, 95, 126, 0.18);
    width: 339px;
    padding-top: 20px;
    padding-bottom: 20px;
    .enquire-now {
      color: #213559;
      font-family: StagSans;
      font-size: 20.08px;
      line-height: 24px;
      width: 127px;
      text-align: left;
      font-weight: 600;
    }
    .form-field {
      border: 0.87px solid #d0d0d0;
      width: 350px;
      height: 42px;
    }
    .submit-button {
      background-color: $button-color;
      width: 111px;
      height: 44px;
      &:hover {
        background-color: #dd5a6ad1;
      }
    }
  }
}

// Section 2

.section {
  padding: $cutom-padding;
  .group3 {
    width: 451px;
    height: 451px;
  }
  .heading {
    @include buttonColor();
    width: 586px;
    padding: 15px 20px;
    margin-bottom: 50px;
    .heading-text {
      color: #ffffff;
      font-family: StagSans;
      font-size: 18px;
      line-height: 26px;
      width: 545px;
      text-align: left;
      margin-bottom: 0;
    }
  }
  .listItems {
    color: #000000;
    font-family: StagSans;
    font-size: 17px;
    line-height: 20px;
    text-align: left;
    margin-top: 60px;
  }
}

// Section 3 Doctors

.doctors {
  .section-heading,
  .column-heading {
    color: #22b78e;
    font-size: 31px;
    letter-spacing: 1.28px;
    line-height: 44px;
    font-weight: 600;
  }
  .doctors-container {
    font-family: StagSans;
    .column-1 {
      background-color: #f9f9ff;
      border-radius: 4px;
      .column-heading {
        font-size: 24px;
        letter-spacing: 0.99px;
      }
      .doctor-card {
        .doctor-name,
        .doctor-degree {
          color: #1d5aa6;
          font-size: 22px;
          letter-spacing: 1.76px;
          line-height: 26px;
          font-weight: 600;
        }
        .doctor-degree {
          font-size: 15px;
          letter-spacing: 1.2px;
          line-height: 20px;
        }
        .spacer {
          border: 1px solid #22b78e;
          width: 37px;
          height: 1px;
          margin: 0 auto;
        }
        .doctor-desc {
          color: #000000;
          font-size: 15px;
          line-height: 20px;
          width: 423px;
          margin: 0 auto;
        }
        .know-more {
          @include buttonColor();
          font-size: 15px;
          letter-spacing: 1px;
          line-height: 18px;
        }
      }
    }
  }
}

// Bone Headings

.section {
  font-family: StagSans;
  .bone-heading {
    color: #22b78e;
    font-size: 31px;
    letter-spacing: 1.28px;
    line-height: 44px;
  }
  .bone-listing {
    list-style: none;
    padding-left: 0;
    .list-image {
      margin-right: 10px;
    }
    li {
      color: #000000;
      font-size: 14px;
      line-height: 39px;
      width: 1068px;
    }
  }
}

.immuneSigns {
  flex-wrap: nowrap !important;
  .rectangle {
    background-color: #ffffff;
    border: 1px solid #e5eaff;
    border-radius: 4px;
    box-shadow: 3px 5px 29px 0 rgba(187, 165, 228, 0.1);
    width: 255px;
    padding: 20px;
    .icon {
      width: 30px;
      height: 41px;
    }
    .immune-desc {
      color: #000000;
      font-family: StagSans;
      font-size: 14px;
      line-height: 21px;
      width: 198px;
      text-align: left;
    }
  }
}

.dropdowns {
  .main-link {
    .link-header {
      width: 100%;
      cursor: pointer;
      .header-text {
        color: #1d5aa6;
        font-family: StagSans;
        font-size: 20px;
        letter-spacing: 1.6px;
        line-height: 22px;
        width: 797px;
        text-align: left;
      }
      .fa-caret-down {
        font-size: 20px;
        color: #1d5aa6;
      }
      padding-bottom: 10px;
      border-bottom: 1px solid #cdcdcd;
    }
    .link-text {
      display: none;
      .dropdown-list {
        list-style: none;
        padding-left: 0;
        li {
          color: #000000;
          font-family: StagSans;
          font-size: 14px;
          line-height: 30px;
          width: 1052px;
          text-align: left;
        }
      }
    }
    .active {
      display: block;
    }
  }
}

.testimonials {
  .testimonial-desc {
    font-size: 15px;
    line-height: 21px;
    width: 609px;
    text-align: left;
  }
  .testimonial {
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 9px 8px 27px 0 rgba(0, 0, 0, 0.04);
    width: 517px;
    padding: 20px;
    .user-desc {
      .user-name {
        font-size: 22px;
        line-height: 26px;
        font-weight: 600;
      }
      .user-designation {
        font-size: 14px;
        line-height: 17px;
        opacity: 0.5;
      }
    }
    .testimoni-description {
      font-size: 15px;
      font-style: italic;
      line-height: 21px;
      width: 410px;
    }
  }
}

.owl-carousel .owl-item img {
  width: 45px !important;
}

// Media Query

@media screen and (max-width: 768px) {
  .banner-section {
    padding: 0px;
    .banner-text {
      .main-heading {
        width: 100%;
      }
      .sub-heading {
        width: 100%;
      }
    }
    .appoinment-button {
      margin-bottom: 30px;
    }
    .form-section {
      width: 100%;
      margin: 20px 10px;
    }
  }

  .section {
    .group3 {
      width: 100%;
      margin-bottom: 10px;
    }
    .heading {
      width: 100%;
    }
    .bone-listing {
      li {
        width: 100%;
      }
    }
  }

  .doctors {
    .doctors-container {
      .column-1 {
        .doctor-card {
          .doctor-desc {
            width: 100%;
          }
        }
      }
    }
  }

  .immuneSigns {
    flex-wrap: wrap !important;
    .rectangle {
      width: 100%;
      margin-bottom: 10px;
      .immune-desc {
        width: 100%;
      }
    }
  }

  .dropdowns {
    .main-link {
      .link-text {
        .dropdown-list {
          li {
            width: 100%;
          }
        }
      }
    }
  }
}
